body.bgcol
  div.calculator
    div.numDisplay
      div#display.result 0
    div.pad
      div.basePad
        ul
          li#clear C
          li +/-
          
      div.operationPad
        ul
          li#add +
          li#subtract -
          li#multiply *
          li#divide /
          li#equals =
      div.numPad
        ul
          li#one 1
          li#two 2
          li#three 3
          li#four 4
          li#five 5
          li#six 6
          li#seven 7
          li#eight 8
          li#nine 9
          li#zero 0
          li#decimal .
     
    div.clearing